@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap');

$dark: #000;
$light: #ebecf0;
html {
   scroll-behavior: smooth;
}
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   background: $light;
   color: $dark;
   overflow-x: hidden;
   &.dark-theme {
      background: $dark;
      color: $light;
   }
}
.container {
   min-width: 100%;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.header {
   position: fixed;
   z-index: 1000;
   top: 0;
   width: 100%;
   height: 7vh;
   background: #000;
   color: #fff;
   font-family: 'Tenali Ramakrishna', sans-serif;
}
.navBar {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   text-align: center;
}
.navItem {
   font-size: 1.5em;
   margin-top: 10px;
   margin-left: 100px;
   padding: 11px;
   text-decoration: none;
   color: #fff;
}

.navItem:hover {
   background: #ebecf0;
   color: #000;
}

.hero {
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}
.heroImg {
   width: 600px;
   height: 600px;
   animation: tilt 0.6s infinite;
}

.heroText {
   width: 20%;
   height: 20vh;
   margin-left: 100px;
   font-family: 'Chelsea Market', cursive;
}

.myWorks {
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

.myWorksImg {
   width: 600px;
   height: 600px;
   animation: tilt 0.6s infinite;
}
.myWorksText {
   width: 20%;
   height: 20vh;
   margin-left: 100px;
   font-family: 'Chelsea Market', cursive;
}
.mySkills {
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

.mySkillsImg {
   width: 600px;
   height: 600px;
   animation: tilt 0.6s infinite;
}
.mySkillsText {
   width: 20%;
   height: 20vh;
   margin-left: 100px;
   font-family: 'Chelsea Market', cursive;
}
.contact {
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

.contactImg {
   width: 600px;
   height: 600px;
   animation: tilt 0.6s infinite;
}
.contactForm {
   width: 20%;
   height: 20vh;
   margin-left: 100px;
   font-family: 'Chelsea Market', cursive;
}

.form {
   margin-top: 20px;
   width: 400px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.email {
   width: 270px;
   height: 30px;
   padding: 10px;
   background: none;
   border: none;
   border-bottom: 1px solid #000;
   font-family: 'Chelsea Market', cursive;
}

.email:focus {
   outline: none;
}

.name {
   margin-top: 20px;
   width: 270px;
   height: 30px;
   padding: 10px;
   background: none;
   border: none;
   border-bottom: 1px solid #000;
   font-family: 'Chelsea Market', cursive;
}

.name:focus {
   outline: none;
}

.bodyMsg {
   margin-top: 30px;
   background: none;
   border: 1px solid black;
   font-family: 'Chelsea Market', cursive;
   padding: 10px;
   border-radius: 3px;
}

.bodyMsg:focus {
   outline: none;
}

.submitBtn {
   margin-top: 30px;
   width: 150px;
   height: 30px;
   font-family: 'Chelsea Market', cursive;
   background: none;
   border: 1px solid #000;
   cursor: pointer;
}

.submitBtn:hover {
   background: #000;
   color: #fff;
}

.submitBtn:focus {
   outline: none;
}

@keyframes tilt {
   0% {
      opacity: 0.92;
   }
   100% {
      opacity: 1;
   }
}
::-webkit-scrollbar {
   width: 8px;
}

::-webkit-scrollbar-thumb {
   background: #000;
   border-radius: 20px;
}

.logo {
   position: relative;
   right: 100px;
   top: 30px;
}
::selection {
   color: white;
   background: rgb(63, 63, 63);
}
#change-theme-btn {
   width: 30px;
   height: 30px;
   background: #ebecf0;
   border: none;
   color: #fff;
   padding: 5px;
   border-radius: 50%;
   position: relative;
   bottom: 15px;
   left: 100px;
   cursor: pointer;
}

@media screen and (max-width: 812px) {
   body {
      overflow-x: hidden;
   }
   .header {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
   }
   .navItem {
      visibility: hidden;
      margin: 0;
      padding: 0;
   }
   .logo {
      visibility: hidden;
   }
   .hero {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   .navBar {
      width: 100%;
      height: 7vh;
      display: flex;
      color: red;
      justify-content: center;
      align-items: center;
   }
   #change-theme-btn {
      position: relative;
      background: white;
      margin-right: 530px;
      top: 3px;
      width: 30px;
      height: 30px;
   }
   .heroImg {
      width: 350px;
      height: 350px;
   }
   .heroText {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 20vh;
      font-size: 0.8em;
      text-align: center;
      position: relative;
      right: 50px;
      top: 50px;
      padding: 40px;
   }
   .myWorks {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   .myWorksImg {
      width: 350px;
      height: 350px;
      position: relative;
      bottom: 35%;
      margin-top: 50px;
   }
   .myWorksText {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 20vh;
      font-size: 0.8em;
      text-align: center;
      position: relative;
      right: 50px;
      top: 200px;
      padding: 40px;
   }
   .mySkills {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      bottom: 350px;
   }
   .mySkillsImg {
      width: 350px;
      height: 350px;
   }
   .mySkillsText {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 20vh;
      font-size: 0.8em;
      text-align: center;
      position: relative;
      right: 50px;
      top: 50px;
      padding: 40px;
   }
   .contact {
      width: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      bottom: 330px;
   }
   .contactImg {
      width: 350px;
      height: 350px;
      position: relative;
      bottom: 35%;
      margin-top: 50px;
   }
   .contactForm {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 20vh;
      font-size: 0.8em;
      text-align: center;
      position: relative;
      right: 50px;
      top: 170px;
      padding: 40px;
   }
}

.git {
   color: rgb(216, 54, 54);
}
.git:hover {
   color: rgb(199, 13, 236);
}
.cv {
   color: rgb(216, 54, 54);
}
.cv:hover {
   color: rgb(199, 13, 236);
}
